<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <center>
      <div style="width: 350px">
        <header
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: solid #a5d7e8;
            border-width: thin;
          "
        >
          <img
            src="https://play-lh.googleusercontent.com/asrfS4x89LkxFILsB4rYxFmX7n0K61MM0QEHpQ7GMlzfekHIeNLHxlP5dEbt1SstnFU=w240-h480"
            width="60px"
            height="50px"
            alt="GKV"
          />
          <p
            style="
              font-family: Merriweather;
              color: #002b5b;
              margin-left: 20px;
              font-weight: 600;
            "
          >
            GKV<span> App</span>
          </p>
        </header>
        <br />
        <div style="text-align: center">
          <div>
            <img
              src="https://png.pngtree.com/png-vector/20190726/ourmid/pngtree-package-pending-icon-for-your-project-png-image_1599195.jpg"
              width="120px"
            />
          </div>
          <p style="text-align: left">Hello {{NAME}},</p>
          <p style="text-align: left">
            Thank you for being part of the GKV. Please confirm your email by
            clicking on the following link.
          </p>
          <a href="https://{{HOST}}/api/auth/confirm/{{OTP}}" target="_blank">
            <button
              style="
                background: #5da7db;
                border: none;
                color: white;
                height: 40px;
                width: 280px;
                border-radius: 5px;
                font-weight: 800;
                font-size: medium;
                cursor: pointer;
              "
            >
              Verify Email-ID
            </button>
          </a>
        </div>
        <br />
        <div>
          <div style="display: flex; border-radius: 4px">
            <div style="padding-left: 1%">
              <p style="word-wrap: break-word; font-weight: 600">
                Available on Playstore
              </p>
            </div>
            <a
              href="https://play.google.com/store/apps/details?id=com.gkv.gkvapp"
              style="cursor: pointer; display: block"
              ><img
                src="https://cdn.me-qr.com/qr/55920118.png?v=1681240451"
                style="overflow: hidden"
                width="160px"
                alt="Download app from Playstore"
            /></a>
          </div>
        </div>
        <footer>
          <p style="font-size: x-small">
            You have received this mail because your e-mail ID is registered
            with GKV-app. This is a system-generated e-mail, please don't reply
            to this message.
          </p>
        </footer>
      </div>
    </center>
  </body>
</html>
