<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center">
      <div style="width: 350px">
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 80px;
          "
        >
          <div style="display: flex; justify-content: center">
            <img
              src="https://freepngimg.com/thumb/success/6-2-success-png-image.png"
              width="120px"
            />
          </div>
          <h2>Successful!</h2>
          <p style="color: green">{{TITLE}}</p>
          <p>{{MESSAGE}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
